/* CSS Document */
.boxleft{background:#CCF; margin:3px}

.book{ height:70px; background:#FCF; margin:3px; }

#menu ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

#menu li a:hover {
    background-color: #ddd;
}
